@charset "UTF-8";
/* for all styles */
/* for media queries */
/*https://medium.freecodecamp.org/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  margin: 0;
  padding: 0;
  font-family: 'Open sans', sans serif; }

body, header, section, main, div {
  margin: 0;
  padding: 0; }

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5; }

body::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5; }

body::-webkit-scrollbar-thumb {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  background-color: #9bc651; }

input {
  outline: none; }

p, h1, h2, h3 {
  cursor: default; }

a {
  text-decoration: none;
  cursor: pointer; }

.c-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 141px;
  line-height: 141px;
  background-color: rgba(254, 255, 251, 0.7); }
  .c-header__logo {
    margin: 0;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    color: #9bc651;
    font-size: 35px;
    font-weight: 700; }

.landing-page {
  padding-bottom: 81px; }

.o-container {
  /* 1170(grid)/1800(pds width) : .65 */
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
  /*	max-width: 1170px;
	width: 65%;
	margin: 0 auto;
	margin-bottom: 81px;*/ }

.c-icon {
  margin-right: 76px; }
  .c-icon__container {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    height: 100%;
    float: right;
    margin-right: 2px; }

.c-iphone {
  position: absolute;
  bottom: calc(100% - 154px);
  right: 0;
  width: 50%; }
  .c-iphone img {
    position: relative;
    right: 40px;
    bottom: 40px;
    max-width: 110%;
    /*max-width: 660px;*/ }

.o-landing {
  position: relative;
  height: 100vh;
  width: 100%; }

.c-landing__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.c-landing__text-container {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.c-landing__header {
  opacity: 0.78;
  color: #ffffff;
  font-size: 35px;
  font-weight: 700; }

.c-landing__text {
  position: relative;
  max-width: 450px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px; }

.c-burger {
  display: inline-block;
  width: 40px;
  height: 22px; }
  .c-burger__stripe {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #758160;
    /* ------------------ */
    -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    /* ------------------ */ }
    .c-burger__stripe:nth-of-type(2) {
      margin: 5px 0; }
  .c-burger__checkbox {
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    width: 40px;
    height: 35px;
    z-index: 999;
    opacity: 0;
    cursor: pointer;
    /* ------------------ */
    /* ------------------ */ }
    .c-burger__checkbox:checked ~ .c-burger__stripe:nth-of-type(1) {
      opacity: 1;
      background-color: #9bc651;
      -webkit-transform: rotate(45deg) translate(10px, 8px);
      transform: rotate(45deg) translate(10px, 8px); }
    .c-burger__checkbox:checked ~ .c-burger__stripe:nth-of-type(2) {
      opacity: 1;
      background-color: #9bc651;
      -webkit-transform: scale(0.05);
      transform: scale(0.05); }
    .c-burger__checkbox:checked ~ .c-burger__stripe:nth-of-type(3) {
      opacity: 1;
      background-color: #9bc651;
      -webkit-transform: rotate(-45deg) translate(5px, -3px);
      transform: rotate(-45deg) translate(5px, -3px); }

.c-article-container {
  position: relative;
  margin-top: 117px;
  margin-bottom: 83px; }

.c-article__header {
  color: #222626;
  font-size: 35px;
  font-weight: 300;
  line-height: 24px; }

.c-article__text {
  display: inline-block;
  color: #959595;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  max-width: 569px;
  width: 50%;
  margin-bottom: 0px; }
  .c-article__text--right {
    float: right;
    width: 46%; }
  .c-article__text--padding {
    padding-top: 96px; }

.c-box {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  color: #ffffff;
  padding-bottom: 36px;
  padding-left: 45px;
  padding-right: 23px;
  height: 278px; }
  .c-box__header {
    font-size: 30px;
    font-weight: 300; }
  .c-box__text {
    font-size: 13px;
    font-weight: 400;
    line-height: 24px; }
  .c-box__link {
    /*height: 12px;*/
    font-size: 14px;
    font-weight: 700;
    /*line-height: 24px;*/
    /* nie podobały mi się różne wysokości linków,
		ustawiłem jednolitą */
    position: absolute;
    bottom: 40px; }
  .c-box--big {
    width: 66.666666%; }
  .c-box--small {
    width: 33.333%; }

.t-gray {
  background-color: #43463e; }

.t-dgreen {
  background-color: #37461d; }

.t-dblue {
  background-color: #091e28; }

.t-lgreen {
  background-color: #73933c; }

/* tablet landscape  -- laptop desktop */
@media screen and (max-width: 1350px) {
  .c-box {
    width: 100%;
    padding-left: 30px; } }

/* tablet --- talbet-landscape */
/*@media screen and (max-width: map-get($breakpoints, tablet-landscape)){*/
/*}*/
/* phone-landscape --- tablet */
@media screen and (max-width: 900px) {
  .o-main {
    width: 85%;
    margin-bottom: 68px; }
  .c-icon {
    margin-right: 30px; } }

/* phone --- phone-landscape */
@media screen and (max-width: 650px) {
  .c-header {
    height: 131px;
    line-height: 131px; }
  .c-icon__container {
    display: none; }
  .c-article {
    margin-top: 108px;
    margin-bottom: 65px; }
    .c-article__text {
      width: 100%; }
      .c-article__text--right {
        float: none; }
      .c-article__text--padding {
        padding: initial; }
  .c-iphone img {
    right: 6px;
    bottom: 107px; }
  .c-header__logo {
    font-size: 24px; }
  .c-landing__header {
    font-size: 24px; }
  .c-article__header {
    font-size: 24px; }
  .c-article__text {
    font-size: 13px; }
  .c-box__header {
    font-size: 24px; }
  .c-box__text {
    font-size: 13px; } }

/* 0 --- phone */
@media screen and (max-width: 400px) {
  body {
    min-width: 335px; }
  .c-iphone img {
    right: -1px;
    bottom: 107px; }
  .c-header__logo {
    font-size: 22px; }
  .c-landing__header {
    font-size: 22px; }
  .c-article__header {
    font-size: 22px; }
  .c-article__text {
    font-size: 12px; }
  .c-box__header {
    font-size: 22px; }
  .c-box__text {
    font-size: 12px; } }
