.c-box{
	display:inline-flex;
	flex-direction: column;

	position: relative;
	color: #ffffff;
	padding-bottom: 36px;
	padding-left: 45px;
	padding-right: 23px;
	height: 278px;

	&__header{
		font-size: 30px;
		font-weight: 300;
	}

	&__text{
		font-size: 13px;
		font-weight: 400;
		line-height: 24px;
	}

	&__link{
		font-size: 14px;
		font-weight: 700;

		/* nie podobały mi się różne wysokości linków,
		ustawiłem jedną dla wszystkich */
		position: absolute;
		bottom: 40px;

		border-bottom: 2px solid transparent;
		padding-bottom: 1px;
		
		transition: all 0.3s ease-in; 

		&:hover{
			border-bottom: 2px solid white;
		}

	}

	&--big{
		width: 66.666666%;
	}

	&--small{
		width: 33.333%;
	}
}