.c-icon{
	
	&__container{
		@include inline-flex--center;
		height: 100%;
		float: right;
		margin-right: 2px;
		transition: all 0.5s ease;
	}

	&-search__container{
		position: relative;
		@include flex--center;
	}
	
	position: relative;
	z-index: 3;
	margin-right: 76px;
	cursor: pointer;
	
}