.c-iphone{
		position: absolute;
    bottom: calc(100% - 154px);
    right: 0;
    width: 50%;

  animation: 3.5s cubic-bezier(.36,.48,.16,.98) forwards slideInBottom;

	img {
		position: relative;
		right: 40px;
		bottom: 40px;

		max-width: 110%;
		/*max-width: 660px;*/
	}
}