.c-search{
	position: absolute;

	width: 20px;
	right: 25px;
	height: 46px;

	font-size: 16px;
	border: 2px solid #9bc651;
	background-color: rgba( 155, 198, 81, 0.2);
	border-radius: 15px;

	transition: all 0.5s ease;
	visibility: hidden;

	&:focus{
		background-color: rgba( 155, 198, 81, 0.6);
	}

	&-is-open{				
		transform: translateX(-42px);
		width: 260px;
		visibility: visible;
	}

	&--disappear{
		animation: 0.3s ease-in-out forwards disappear;
	}
}
