.o-container{
	/* 1170(grid)/1800(pds width) : .65 */

	max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;

/*	max-width: 1170px;
	width: 65%;
	margin: 0 auto;
	margin-bottom: 81px;*/

}