.c-header{
	
	position: absolute;
	top:0;
	left:0;
	right:0;
	z-index:2;

	height: 141px;
	line-height: 141px;

	background-color: rgba(254, 255, 251, 0.7);

	&__logo{
		margin:0;
		
		@include absolute--center;
		color: #9bc651;
		width: fit-content;
		font-size: 35px;
		font-weight: 700;
	}
}