
/* tablet landscape  -- laptop desktop */
@media screen and (max-width: map-get($breakpoints, laptop-desktop)){
	
	.c-box{
		width: 100%;
		padding-left: 30px;
	}
}

/* tablet --- talbet-landscape */
/*@media screen and (max-width: map-get($breakpoints, tablet-landscape)){*/
	
/*}*/

/* phone-landscape --- tablet */
@media screen and (max-width: map-get($breakpoints, tablet)){
	/*.o-container{
		width: 85%;
		margin-bottom: 68px;
	}*/
	
	.c-menu{
		&__container{
			padding-top: 20px;
			padding-left: 3px;
			background-position: 5% 40%;
		}
	}

	.c-icon{
		margin-right: 30px;
	}

	.c-search{
		transform: translate(-60px, -105%);
	}
}

/* phone --- phone-landscape */
@media screen and (max-width: map-get($breakpoints, phone-landscape)){


	.c-header{
		height: 131px;
	}
	
	.c-icon__container{
		display:none;
	}

	.c-article{
		margin-top: 108px;
		margin-bottom: 65px;

		&__text{
			width: 100%;

			&--right{
				float: none;
			}

			&--padding{
				padding: initial;
			}
		}
	}

	.c-iphone{
		img{
			right: 6px;
			bottom: 107px;
		}
	}

	.c-header{
		@include fontSizeOf(logo, 24px);
	}

	.c-hero{
		@include fontSizeOf(header, 24px);
	}

	.c-article{
		@include fontSizeOf(header, 24px);
		@include fontSizeOf(text, 13px);	
	}

	.c-box{
		@include fontSizeOf(header, 24px);
		@include fontSizeOf(text, 13px);	
	}

}

/* 0 --- phone */ 
@media screen and (max-width: map-get($breakpoints, phone)){
	body{
		min-width: 335px;
	}

	.c-iphone{
		img{
			right: -1px;
			bottom: 107px;
		}
	}

	.c-header{
		@include fontSizeOf(logo, 22px);
	}

	.c-hero{
		@include fontSizeOf(header, 22px);
	}

	.c-article{
		@include fontSizeOf(header, 22px);
		@include fontSizeOf(text, 12px);	
	}

	.c-box{
		@include fontSizeOf(header, 22px);
		@include fontSizeOf(text, 12px);	
	}
}

/* media for screen height */
@media screen and (max-height: map-get($breakpoints, min-height)){
	.c-menu{
	
		&__container{
			padding-top: 55px;
			background-position: 5% 65%;
		}

		&__item{
			margin: 0;
			padding: 2px;
		}
	}
}