*{
	box-sizing: border-box;
}

html{
	margin: 0;
	padding: 0;
	font-family: 'Open sans', sans serif;
}

body,header,section,main,div{
	margin: 0;
	padding: 0;
}

p,h1,h2,h3{
	cursor: default;
}

a{
	text-decoration: none;
	cursor: pointer;
}